<mat-form-field class="dropdown-ff">
  <mat-select [formControl]="jobFormControl" placeholder="Select a Job" #singleSelect>

    <mat-select-trigger *ngIf="id.job">
      <img class="dropdown-image" src={{jobFormControl.value.icon}} height="25px">
      <span> {{jobFormControl.value.short_name}} </span>
    </mat-select-trigger>

    <mat-option class="search-option">
      <ngx-mat-select-search
        [formControl]="jobFilterControl"
        placeholderLabel="Search"
        noEntriesFoundLabel="No Jobs Found">
      </ngx-mat-select-search>
    </mat-option>

    <mat-option class="list-option" *ngFor="let job of filteredJobs | async" [value]="job">
      <img class="dropdown-image" src={{job.icon}} height="25px">
      <span> {{job.short_name}} </span>
    </mat-option>



  </mat-select>
</mat-form-field>
